 body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .nav li {
      padding-top: 5px;
      }

      .sidebar-nav {
        padding: 9px 0;
      }
      .leaderboard {
        padding: 60px;
        margin-bottom: 30px;
        /*background: url('http://fc03.deviantart.net/fs71/f/2012/040/4/d/gurren_lagann_facebook_banner_by_mariusmalek-d4p5jo1.png');*/
        /*background-repeat:repeat;*/
        background-color: red;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }
      .leaderboard h1 {
        font-size: 40px;
        margin-bottom: 5px;
        line-height: 1;
        letter-spacing: -1px;
        color:#blue;
        text-align: center;
      }
      .leaderboard p {
        font-size: 18px;
        font-weight: 200;
        line-height: 27px;
        text-align:center;
      }
