.ui-datepicker {
    background-color: white;
    border: 1px solid lightgray;
    width: 180px;
    height: auto;
}

.ui-datepicker-current-day {
    background-color: lightblue;
}

.ui-datepicker-inline {
    width: 216px;
    height: auto;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.ui-datepicker-prev {
    float:left;
}

.ui-datepicker-next {
    float: right;
}

.input-xmini {
    width: 20px;
}

/* VISUALISAATIO */
.content-body {
    margin: 5px 0 0 6px;
    background-color: transparent;
    color: black;
}

.results {
    overflow-x: auto;
}

.content {
    pointer-events: all;
    font: 300 14px sans-serif;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.auto {
    fill: #B14848;
}

.bussi {
    fill: #277ECB;
}

.juna {
    fill: #69B213;
}

.axis-days {
    fill: red;
}

text {
    font-family: sans-serif;
    font-size: 0.7em;
}
