/* INDEX */
.index-container {
    background-color: #EEEEEE;
    margin: 0 auto;
    min-width: 550px;
    max-width: 70%;
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

.banner {
    background-image: url("/static/img/banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 190px;
    margin: 0 auto 60px;
    border: 5px solid;
    border-radius: 2px;
}

.form-container {
    margin: 0 auto;
    max-width: 550px;
}

.footer {
    text-align: center;
}


/* TULOSSIVUN SIVUPALKKI */
.sidebar-nav-fixed {
    position: fixed;
    width: 20%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width: auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position: static;
        width: auto;
    }
}

.breaker {
  width: 100%;
  height: 1px;
  border-top: 1px dotted #CCC;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:1px;
  line-height:0;
  float:left;
}


/* DATEPICKER */
.ui-datepicker {
    background-color: white;
    border: 1px solid lightgray;
    width: 180px;
    height: auto;
}

.ui-datepicker-current-day {
    background-color: lightblue;
}

.ui-datepicker-inline {
    width: 216px;
    height: auto;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.ui-datepicker-prev {
    float:left;
}

.ui-datepicker-next {
    float: right;
}

.input-xmini {
    width: 20px;
}

/* VISUALISAATIO */
.content-body {
    margin: 5px 0 0 6px;
    background-color: transparent;
    color: black;
}

.results {
    overflow-x: auto;
}

.content {
    pointer-events: all;
    font: 300 14px sans-serif;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.auto {
    fill: #B14848;
}

.bussi {
    fill: #277ECB;
}

.juna {
    fill: #69B213;
}

.axis-days {
    fill: red;
}

text {
    font-family: sans-serif;
    font-size: 0.7em;
}
