/* INDEX */
.index-container {
    background-color: #EEEEEE;
    margin: 0 auto;
    min-width: 550px;
    max-width: 70%;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
}


.header .hidden-phone {
    background-image: url("/static/img/ses3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 30px;
    border: 5px solid;
    border-radius: 2px;
    padding: 60px;
}

.header .hidden-phone h1 {
    font-family: 'Days One', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 1;
    letter-spacing: -1px;
    color:black;
    text-shadow: 2px 2px white;
}

.header .hidden-phone p {
    font-family: 'Racing Sans One', cursive;
    font-size: 25px;
    font-weight: 200;
    line-height: 20px;
    text-shadow: 2px 2px white;
}

.header .visible-phone {
    text-align: center;
    margin-bottom: 60px;
}

.form-container {
    font-family: 'Monda', sans-serif;
    margin: 0 auto;
    max-width: 550px;
}

.footer {
    text-align: center;
}

.well {
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
}

/*INFO-JA PALAUTESIVU*/
.tekstikappale {
    margin-bottom: 25px;
}


/* TULOSSIVUN SIVUPALKKI */
.sidebar-nav-fixed {
    position: fixed;
    width: 18%;
    font-size: 12px;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width: auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position: static;
        width: auto;
    }
}

.sidebar-nav-fixed input {
    height: 15px;
}

.sidebar-nav-fixed label {
    font-size: 12px;
    margin: 5px 0 0 0;
}

.sidebar-nav-fixed select {
    font-size: 12px;
    height: 26px;
}

.breaker {
  width: 100%;
  height: 1px;
  border-top: 1px dotted #CCC;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:1px;
  line-height:0;
  float:left;
}


/* TULOSSIVUN TAULUKKO */
.table-results td {
    vertical-align: middle;
}

.table-results #vaihdot {
    vertical-align: top;
    text-align: center;
    font-weight: bold;
}

.no-borders td {
    border-top: none;
    background-color: #F5F5F5;
}

.vaihdot td {
    background-color: #F5F5F5;
}

.row-white {
    background-color: white;
}

.row-header {
    background-color: #DFDFDF;
}

/* DATEPICKER */
.ui-datepicker {
    background-color: white;
    border: 1px solid lightgray;
    width: 180px;
    height: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.ui-datepicker-current-day {
    background-color: lightblue;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.ui-datepicker-prev {
    float:left;
}

.ui-datepicker-next {
    float: right;
}

.input-xmini {
    width: 20px;
}

/* VISUALISAATIO */
.content-body {
    margin: 2px 0 0 8px;
    background-color: transparent;
    color: black;
}

.content-body .label {
    margin: 0 0 2px -6px;
    font-weight: normal;
}

.results {
    overflow-x: auto;
}

.content-body .content {
    pointer-events: inherit;
    font: 13px Arial, sans-serif;
}

.chart {
    font: 10px Arial, sans-serif;
    background-color: #FCFCFC;
    border: 1px solid #C1CDCD;
    border-radius: 8px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.auto {
    fill: #B14848;
}

.bussi {
    fill: #277ECB;
}

.juna {
    fill: #69B213;
}

.axis-days {
    fill: red;
}

text {
    font-family: sans-serif;
    font-size: 0.8em;
}

/* HR VIIVA */

.hr-container{
    margin-top: 15px;
margin-bottom: 15px;
min-width: 550px;
        max-width: 70%;
}

/* HEADERI */
.header-container {
    min-width: 550px;
    max-width: 70%;
}

