.table td {
  vertical-align: middle;
}

td[id="vaihdot"] {
  vertical-align: top;
  text-align: center;
  font-weight: bold;
}

.no-borders td {
  border-top: none;
  background-color: #F5F5F5;
}

.vaihdot td {
  background-color: #F5F5F5;
}

