body {
        padding-top: 50px;
        padding-bottom: 30px;
      }
      .nav li {
      padding-top: 5px;
      }

      .sidebar-nav {
        padding: 9px 0;
      }
  .leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  border-style:solid;
  border-width:5px;
  background-image:url('ses3.png');
  background-repeat: no-repeat;
  background-position: center;
  }
.leaderboard h1 {
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 1;
  letter-spacing: -1px;
  color:black;
  text-shadow: 2px 2px white;
}
.leaderboard p {
  font-family: 'Racing Sans One', cursive;
  font-size: 25px;
  font-weight: 200;
  line-height: 20px;
  text-shadow: 2px 2px white;
}
#ui-datepicker-div{
  visibility:hidden;
}

#footteri{
  text-align: center;
}

hr{
  height: 20px;
}

#lomake-container
{
  margin-right: auto;
  margin-left: auto;
  background-color: red;
}

#alateksti
{
  text-align: center;
}
 .page-content.wrapper
 {
  padding: 60px;
  margin-right: 60px;
  margin-left: 60px;
 }

#form-container
{
  width: 70%;
  margin: 0 auto;
  font-family: 'Monda', sans-serif;
}

.btn btn-primary
{
  font-family: 'Monda', sans-serif;
<<<<<<< HEAD
=======
}

#tieto-container p
{
    font-size: 17px
}

#tulokset
{
  background-color: white;
}

#option
{
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

.btn-custom {
  font-family: 'Monda', sans-serif;
  background-color: hsl(360, 0%, 48%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#7a7a7a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#7a7a7a));
  background-image: -moz-linear-gradient(top, #f9f9f9, #7a7a7a);
  background-image: -ms-linear-gradient(top, #f9f9f9, #7a7a7a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #7a7a7a));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #7a7a7a);
  background-image: -o-linear-gradient(top, #f9f9f9, #7a7a7a);
  background-image: linear-gradient(#f9f9f9, #7a7a7a);
  border-color: #7a7a7a #7a7a7a hsl(360, 0%, 35.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.82);
  -webkit-font-smoothing: antialiased;
}

i
{
  margin-left:5px;

}

/* Landscape phones and down */
@media (max-width: 767px) {
  .leaderboard
  {
    background-image: none;
    text-align: center;
  }
}
