$def with (content)

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Millä matkaan? Kotimaan julkisen liikenteen hintavertailusovellus</title>
  <meta name="description" content="Millä matkaan? Kotimaan julkisen liikenteen hintavertailusovellus">
  <meta name="keywords" content="millä,matkaan,julkinen,liikenne,hintavertailu">
  <meta name="author" content="Aleksi Pekkala, Juuso Tenhunen, Lasse Walldén, Peter Raatikainen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link href="http://fonts.googleapis.com/css?family=Days+One|Racing+Sans+One|Monda&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>

  $:content

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</body>
</html>
