<div class="container">
<div class="row">
<div class"span4">

<form class="form-horizontal" method="GET" action="/haku">
  <div class="control-group">
    <label class="control-label">Mistä</label>
    <div class="controls">
        <input class="input" type="text" name="mista" placeholder="Mistä"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Mihin</label>
    <div class="controls">
      <input type="text" name="mihin" placeholder="Mihin"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Lähtöaika</label>
    <div class="controls">
      <input type="text" name="lahtoaika" placeholder="01.01.2013 02:01"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Mistä</label>
    <div class="controls">
      <input type="text" name="saapumisaika" placeholder="01.01.2013 02:01"/>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <label class="checkbox inline">
        <input type="checkbox" name="juna" checked> Juna
      </label>
      <label class="checkbox inline">
        <input type="checkbox" name="bussi" checked> Bussi
      </label>
      <label class="checkbox inline">
        <input type="checkbox" name="auto" checked> Auto
      </label>
    </div>
  </div>

  <div class="control group">
    <div class="controls">
      <button class="btn btn-primary" type="submit">Hae yhteyksiä</button>
    </div>
  </div>
</form>

</div>
</div>
</div>
