<div class="container info-container">

<div class="header">
  <div class="hidden-phone">
    <h1>Millä matkaan?</h1>
    <p>Julkisen liikenteen ja henkilöautoilun vertailusovellus</p>
  </div>

  <div class="visible-phone">
    <h2>Millä matkaan?</h2>
    <h4>Julkisen liikenteen ja henkilöautoilun vertailusovellus</h4>
  </div>
</div> <!-- /.header -->

<div class="feedback-container">

  <iframe src="https://docs.google.com/forms/d/1LPi78AUBg8BzAf4dqxpw27xE7mLNb8hhaIaa0J8fOS4/viewform?embedded=true" width="760" height="583" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  <a class="visible-phone" href="https://docs.google.com/forms/d/1LPi78AUBg8BzAf4dqxpw27xE7mLNb8hhaIaa0J8fOS4/viewform">Siirry tästä palautelomakkeeseen</a>

  <div class="control group">
    <div class="controls">
      <a class="btn btn-primary" href=""><i class="icon-arrow-left icon-white"></i> Takaisin pääsivulle</a>
    </div>
  </div>

</div> <!-- /.form-container -->
</div> <!-- /.container -->

<hr>
<div class="container footer">
  <a href="/info">Ohje ja tietoja</a>
  <small> - </small>
  <a href="/palaute">Anna palautetta</a>
  <br>
  <a href="https://github.com/epiphone/tiea207_c2264">@Github</a>
</div>
