<div class="container header-container">
<div class="header">
  <div class="hidden-phone">
    <h1>Millä matkaan?</h1>
    <p>Julkisen liikenteen hintavertailusovellus</p>
  </div>

  <div class="visible-phone">
    <h2>Millä matkaan?</h2>
    <h4>Julkisen liikenteen ja henkilöautoilun vertailusovellus</h4>
  </div>
</div> <!-- /.header -->
</div>

<div class="container index-container">


   <div class="container" style="text-align: center;">
   <iframe src="https://docs.google.com/forms/d/1LPi78AUBg8BzAf4dqxpw27xE7mLNb8hhaIaa0J8fOS4/viewform?embedded=true" width="760" height="583" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
   </div>

     <div class="control group" style="margin-bottom: 10px; margin-left: 10px; margin-top: 10px;">
      <div class="controls">
        <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Takaisin pääsivulle</a>
      </div>
    </div>

</div> <!-- /.form-container -->
</div> <!-- /.container -->

<div class="container hr-container" style="margin-top: 15px; margin-bottom: 15px;">
<hr>
</div>

<div class="container footer">
  <a href="/info">Ohje ja tietoja</a>
  <small> - </small>
  <a href="/palaute">Anna palautetta</a>
  <br>
  <a href="https://github.com/epiphone/tiea207_c2264">@Github</a>
</div>
